@import 'styles/variables.scss';

.AddComment {
  max-width: 800px;
  .add-comment__input {
    display: flex;
    flex-direction: column;
    height: 70px;
    background: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
  }

  .add-comment__form-submit {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: #f0f0f0;
    &.expandable-section--collapsed {
      display: none;
    }

    .form-submit__input {
      padding: 3px 10px;
      border-radius: 15px;
      background: white;
      font-size: $primary-font-size;
      line-height: $primary-font-line-height;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
