@import 'styles/variables.scss';

.AddComment {
  max-width: 800px;
  .add-comment__input {
    display: flex;
    flex-direction: column;
    height: 70px;
    background: #f0f0f0;
    width: 100%;
    box-sizing: border-box;
  }
  .add-comment__login {
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    padding: 10px;
    .login__options {
      align-self: center;
      display: flex;
      margin-left: -5px;
      .login__option {
        margin: 0 5px;
      }
    }
  }
  .add-comment__loggedIn {
    display: flex;
    justify-content: flex-end;
    background: #f5f5f5;
    padding: 10px;
    .login__options {
      align-self: center;
    }
    font-size: $secondary-font-size;
    .loggedIn__avatar,
    .loggedIn__commentingAs,
    .loggedIn__username {
      margin-right: 5px;
      align-self: center;
    }
    .loggedIn__icon {
      margin-right: 20px;
      align-self: center;
    }
    .loggedIn__logout {
      align-self: center;
    }
  }
  .add-comment__expandable-section {
    padding: 0 20px 20px 20px;
    background: #f5f5f5;
    &.expandable-section--collapsed {
      display: none;
    }

    label.sticky {
      position: relative;
      > label {
        font-size: 16px;
        margin-left: 1em;
        padding: 0 0.2em;
        position: absolute;
        line-height: 1em;
        top: 0;
        left: 0;
        color: #898989;
        transition: all 0.3s ease-in-out;
        white-space: nowrap;
        background: #fff;
      }
      > input[type='text'],
      input[type='email'],
      input[type='url'] {
        box-sizing: border-box;
        font-size: 16px;
        height: 3em;
        width: 100%;
        padding: 0.5em 1.34em;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        -webkit-font-smoothing: antialiased;
        -webkit-transform: translate(0, 1.34em);
        transition-duration: 0.1s;
        background: #fff;
        &:focus {
          border: 1px solid #00bafa;
          + label {
            color: #00bafa;
          }
        }
        &:focus,
        &:valid {
          outline: none;
        }
      }
    }
  }
  .add-comment__form-submit {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    background: #f0f0f0;
    &.expandable-section--collapsed {
      display: none;
    }

    .form-submit__input {
      padding: 3px 10px;
      border-radius: 15px;
      background: white;
      font-size: $primary-font-size;
      line-height: $primary-font-line-height;
      color: $primary-color;
      cursor: pointer;
    }
  }
}
