@import 'styles/variables.scss';

.Link {
  a {
    text-decoration: none;
    color: $active-link-color;
  }

  a:hover {
    color: $active-link-hover-color;
  }

  a:active {
    color: $active-link-color;
  }

  a[disabled],
  a[disabled]:hover,
  a[disabled]:active {
    border-color: $active-link-color;
    color: $link-color;
    cursor: default;
  }
}
