{
  "env": {
    "test": { "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]], "plugins": ["styled-jsx/babel-test"] }
  },
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "common": "./common",
          "pages": "./pages",
          "events": "./events",
          "utils": "./utils",
          "reducers": "./reducers",
          "constants": "./constants",
          "services": "./services",
          "styles": "./styles"
        }
      }
    ]
  ]
}
