{
  "env": {
    "test": { "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]], "plugins": ["styled-jsx/babel-test"] }
  },
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": ["styled-jsx-plugin-sass"]
        }
      }
    ]
  ],
  "plugins": [
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./app/components",
          "containers": "./app/containers",
          "common": "./app/common",
          "pages": "./app/pages",
          "events": "./app/events",
          "utils": "./app/utils",
          "reducers": "./app/reducers",
          "constants": "./app/constants",
          "services": "./app/services",
          "styles": "./app/styles"
        }
      }
    ]
  ]
}
