{
  "env": {
    "development": { "presets": ["next/babel"] },
    "production": { "presets": ["next/babel"] },
    "test": { "presets": [["next/babel", { "preset-env": { "modules": "commonjs" } }]] }
  },
  "plugins": [
    "lodash",
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "components": "./components",
          "containers": "./containers",
          "common": "./common",
          "pages": "./pages",
          "events": "./events",
          "utils": "./utils",
          "reducers": "./reducers",
          "constants": "./constants",
          "services": "./services",
          "styles": "./styles",
          "vendors": "./vendors"
        }
      }
    ]
  ]
}
