@import 'styles/variables.scss';

.Article {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 30px 25px 60px;
  .article__content {
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  .article__reply_header {
    border: 0;
    margin-bottom: 0;
  }
}
