@import 'app/styles/variables.scss';

.AboutAuthor {
  margin-bottom: 35px;

  .header {
    font-family: $secondary-font;
    letter-spacing: $secondary-font-letter-spacing;
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    line-height: $secondary-font-line-height;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 15px;
  }

  .content {
    background: $secondary-background-color;
    box-shadow: $main-box-shadow;
    border: 1px solid $main-border-color;
    padding: 20px 15px 10px 15px;
    line-height: $font-size-sm-line-height;
    font-size: $font-size-sm;
  }

  .content-description {
    margin-top: 10px;
  }
}
