@import 'app/styles/variables.scss';

.GetInTouch {
  margin-bottom: 35px;
  .get-in-touch__header {
    font-family: $secondary-font;
    letter-spacing: $secondary-font-letter-spacing;
    font-size: $secondary-font-size;
    font-weight: $secondary-font-weight;
    line-height: $secondary-font-line-height;
    color: $secondary-color;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
  .get-in-touch__body {
    .body__icons {
      display: flex;
      margin-left: -5px;
      list-style: none;
      padding: 0;
      .body__icon {
        margin: 0 5px;
        opacity: 0.4;
        &:hover {
          opacity: 1;
          transition: opacity 0.5s ease-out;
        }
      }
    }
  }
}
