$body-color: #424242;
$heading-color: #00ab6b;
$link-color: #222221;
$active-link-color: #00ab6b;
$active-link-hover-color: rgb(0, 188, 137);

$primary-font: Verdana, Geneva, sans-serif;
$primary-font-size: 16px;
$primary-font-line-height: 1.75;
$primary-font-weight: 300;

$secondary-font: Helvetica Neue, Helvetica, Arial, 'sans-serif';
$secondary-font-size: 12px;
$secondary-font-line-height: 19px;
$secondary-font-weight: 500;
$secondary-font-letter-spacing: 0.01em;

$logo-font: 'Comic Sans MS', cursive, sans-serif;

$font-size-sm: 14px;
$font-size-sm-line-height: 18px;

$primary-color: #424242;
$secondary-color: #a9a9a9;

$main-background-color: #fcfcfc;
$secondary-background-color: #f9f9f9;

$main-border-color: rgba(0, 0, 0, 0.05);
$secondary-border-color: #ececec;

$main-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

$button-color: #00ab6b;
$button-hover-color: rgb(0, 188, 137);
